body {
    display: grid;
    grid-template-areas: 
    "header header header header"
    "display display display history";
    width: 65%;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: #0f706d;
    grid-area: header;
    color: white;
    text-align: center;
    padding: 20px;
    border: 2px solid black;
}

.display {
    grid-area: display;
    display: grid;
    grid-template-areas: 
    "content content content"
    "forecast forecast forecast";
    margin:10px;
}
#display-content {
    grid-area: content;
    background-color: lightgray;
    border: 1px solid #0f706d;
}
#display-content p{
    text-align: center;
    line-height: 50px;
}
#forecast {
    grid-area: forecast;
}
#previous-searches {
    margin:10px;
}
